@font-face {
    font-family: 'aggressive';
    src: url('../Fonts/aggressive/Aggressive.ttf')
}
@keyframes move {
    100% { transform: scale(1.3);}
}
@keyframes movetwee {
    100% { background-size: 4em ;}
}


@keyframes voorbeeld {
    10% {
        font-size: 1.5em;
    }
    100% {
        color: #982682;
    }
}

@keyframes voorbeeldOne {
    10% {
        font-size: 1.5em;
    }
    100% {
        color: white;
    }
    10% {
        color: red;
    }
}

@keyframes voorbeeldTwee {
    10% {
        font-size: 2em;
    }
    100% {
        color: #982682;
    }
}

header nav ul li:nth-of-type(2) a img {
    width: 4.125em;
    margin-left: 2rem;
}

header form:nth-of-type(2) {
    position: absolute;
    background-color: white;
    height: 46rem;
    top: 4.9rem;
    left: 0rem;
    width: 23em;
    margin-left: -24rem;
    transition: all 0.5s cubic-bezier(.38, 1.34, .72, -0.18);
    z-index: 1;
}

header form:nth-of-type(2).filteren {
    position: absolute;
    background-color: white;
    height: 46rem;
    top: 4.9rem;
    left: 0rem;
    width: 100%;
    margin-left: 0rem;
    z-index: 1;
}

header form:nth-of-type(2) p {
    margin-left: 0;
}

header form:nth-of-type(2) p label {
    margin-left: 0;
}

header form:nth-of-type(2) p input[type=checkbox] {
    margin-left: 0;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: museo-sans, sans-serif;
    color: #2b4040;
}

body > p {
    margin-left: 1rem;
    animation-name: voorbeeld;
    animation-duration: 2s;
    color: #2b4040;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

}

h2 {
    margin-left: 1rem;
    font-weight: 700;
    font-size: 1.25em;
    margin-top: 2em;
}

body > h1 {
    margin-left: 1rem;
    animation-name: voorbeeldTwee;
    animation-duration: 2s;
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 0;
}

header {
    background-color: white;
    padding-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .5em
}

body main section:first-of-type {
    display: flex;
    justify-content: space-between;
    background-color: #fcdd67;
    margin: 0;
    margin-bottom: .5em;
}

body main section:first-of-type img {
    height: 18.75em;
    padding: 1em;
    background-image: url(../Images/wowclub-lady-3.min.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 11.5rem;
    background-size: 6.5rem;
    border: 0 !important;
    background-color: transparent;
}

body main section:first-of-type h1 {
    padding-left: 1rem;
    color: #2b4040;
    margin-top: 5rem;
    font-weight: 700;
    font-size: 2em;
}

body main section:first-of-type span p {
    padding-left: 1rem;
    margin: 0;
    color: #2b4040;
    font-weight: 300;
    font-size: 1em;
}

header nav > ul {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #88AFAF;
    height: 3.5em;
    padding-top: 0.1875em;
}



header nav ul li:first-of-type button {
    background-image: url(../Images/filterenicon.svg);
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 2.5rem;
    padding-top: 3.1em;
    font-size: 0.75em;
    color: #2b4040;
    width: 4em;
    background-position: top;
}

header nav ul li:first-of-type button.che {
    background-image: url(../Images/close.svg);
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 2rem;
    padding-top: 3.1em;
    font-size: 0.75em;
    color: #2b4040;
    width: 4em;
    background-position: top;

}

header nav ul li:first-of-type button:focus {
    color: #982682;
}

header nav ul li:first-of-type button:hover {
    color: #982682;
}

header li:first-of-type button {
    background-color: white;
    border: 0;
    width: 2.5em;
    padding: 0;
}

header nav li:last-of-type {
    display: flex;
    justify-content: space-around;

}

header nav li:last-of-type a {
    background-image: url(../Images/profileicon.svg);
    background-position: center;
    background-size: 1.6em;
    border: 1px solid #982682;
    border-radius: .25em;
    height: 1.5rem;
    width: 2rem;
    background-color: transparent;
    background-repeat: no-repeat;
    margin-top: .5rem;
    margin-right: .25rem;
}

header nav li:last-of-type a:hover {
    background-image: url(../Images/whiteprofile.svg);
    background-position: center;
    background-size: 1.6em;
    border: 1px solid #982682;
    border-radius: .25em;
    height: 1.5rem;
    width: 2rem;
    background-color: #982682;
    background-repeat: no-repeat;
    margin-top: .5rem;
    margin-right: .25rem;
}

header nav li:last-of-type a:focus {
    background-image: url(../Images/whiteprofile.svg);
    background-position: center;
    background-size: 1.6em;
    border: 1px solid #982682;
    border-radius: .25em;
    height: 1.5rem;
    width: 2rem;
    background-color: #982682;
    background-repeat: no-repeat;
    margin-top: .5rem;
    margin-right: .25rem;
}

header nav li:last-of-type button {
    background-image: url(../Images/searchicon.svg);
    background-position: center;
    background-size: 2em;
    border: 1px solid #982682;
    border-radius: .25em;
    height: 1.6rem;
    width: 2.1rem;
    background-color: transparent;
    background-repeat: no-repeat;
    margin-top: .5rem;
    margin-right: .25rem;
}

header nav li:last-of-type button:hover {
    background-image: url(../Images/searchiconWhite.svg);
    background-position: center;
    background-size: 2em;
    border: 1px solid #982682;
    border-radius: .25em;
    height: 1.6rem;
    width: 2.1rem;
    background-color: #982682;
    background-repeat: no-repeat;
    margin-top: .5rem;
    margin-right: .25rem;
}

header nav li:last-of-type button:focus {
    background-image: url(../Images/searchiconWhite.svg);
    background-position: center;
    background-size: 2em;
    border: 1px solid #982682;
    border-radius: .25em;
    height: 1.6rem;
    width: 2.1rem;
    background-color: #982682;
    background-repeat: no-repeat;
    margin-top: .5rem;
    margin-right: .25rem;
}

header form p:last-of-type input[type=submit] {
    -webkit-appearance: none;
    margin: 0;
    border: 1px solid #982682;
    border-radius: 0.25em;
    height: 2rem;
    line-height: 2.5em;
    background-color: #982682;
    color: white;
    font-size: 0.75em;
    width: 100%;
    font-weight: 700;
}

header form p:last-of-type input[type=submit]:focus {
    color: white;
    background-color: #701b67;
    border-color: #53144d;
}

header form p:last-of-type input[type=submit]:hover {
    color: white;
    background-color: #701b67;
    border-color: #53144d;
}

header form:first-of-type p:last-of-type {
    width: 19%;
    margin-top: 0;
    margin-left: 1%;
    margin-bottom: 0;
}

header form:first-of-type p:first-of-type {
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
}

header form p:first-of-type input[type=search] {
    -webkit-appearance: none;
    margin: 0;
    border: 1px solid #979696;
    border-radius: 0.25em;
    height: 2rem;
    line-height: 3em;
    width: 100%;
    padding-left: 1em;
}

header form p:first-of-type input[type=search]:focus {
    -webkit-appearance: none;
    border-color: #99258d;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 37, 141, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 37, 141, 0.6);
}

header form:first-of-type p:first-of-type label {
    display: none;
}

p > input {
    visibility: visible;
    position: static;
}

header form:first-of-type {
    width: 100%;
    height: 3em;
    margin-top: 1em;
    display: flex;
    margin-top: -2em;
    margin-bottom: -1em;
    display: none;
}

header form:first-of-type.zoeken {
    width: 100%;
    height: 3em;
    margin-top: 1em;
    display: flex;
}

header form:last-of-type {
    display: flex;
    justify-content: space-between;
    max-width: 37.5em;
    margin: 0 auto 0 auto;
    margin-top: 1rem;
}

header form:first-of-type label {
    cursor: pointer;
}

input {
    position: absolute;
    visibility: hidden;
}

input[type=radio] + label {
    color: #982682;
    padding: 0.5em;
    padding-top: .3em;
    padding-bottom: .3em;
    height: 1.3em;
}

input[type=radio]:checked + label {
    background-color: #FEDF5C;
    border-radius: 0.625em;
    color: #2b4040;
    padding: 0.5em;
    padding-top: .3em;
    padding-bottom: .3em;
    height: 1.3em;
}

input[type=radio]:hover + label {
    background: rgba(239, 192, 48, 0.4);
    border-radius: 0.625em;
    color: #2b4040;
    padding: 0.5em;
    padding-top: .3em;
    padding-bottom: .3em;
    height: 1.3em;

}

input[type=radio]:focus + label {
    background: rgba(239, 192, 48, 0.4);
    border-radius: 0.625em;
    color: #2b4040;
    padding: 0.5em;
    padding-top: .3em;
    padding-bottom: .3em;
    height: 1.3em;

}

header form:last-of-type input[type=submit] {
    position: absolute;
    visibility: hidden;
}

footer {
    background-color: rgb(247, 241, 235);
    height: 15.625em;
    margin-top: 1.5em;
    width: 100%;
    text-align: center;
}

footer img {
    width: 18.75em;
    margin: 0px auto;
    margin-top: 3em;
}

article a > img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
    height: 14em;

}

article li:first-of-type button {
    background-image: url(../Images/likeicon.svg);
    background-color: transparent;
    margin-left: .5em;
    border: 0;
    background-repeat: no-repeat;
    padding-top: 3em;
    font-size: 0.75em;
    color: #2b4040;
    transition: all .2s ease-in-out .1s;

}

article li:first-of-type button.ani {
    animation-name: move;
    animation-duration: .5s;
    background-image: url(../Images/like2.svg);
    color: #982682;
    font-weight: 700;
}

article li:first-of-type button:focus {
    color: #982682;
}

article li:first-of-type button:hover {
    color: #982682;
}

article li:last-of-type button {
    width: 3em;
    background-image: url(../Images/downloadicon.svg);
    background-color: transparent;
    background-position: top;
    background-size: 3em;
    border: 0;
    background-repeat: no-repeat;
    padding-top: 3em;
    padding-right: 5em;
    font-size: 0.75em;
    color: #2b4040;
}

article li:last-of-type button:focus {
    color: #982682;
}

article li:last-of-type button:hover {
    color: #982682;
}

article span {
    display: flex;
}

span li:last-of-type {
    padding-top: 0.9375em;
    padding-left: 0.3125em;
    font-weight: bold;
}

section article {
    display: flex;
    flex-direction: column;
    border: 1px solid #88AFAF;
    width: 90%;
    max-width: 20em;
    margin: 0 auto;
    flex: 0 0 auto;
    margin-right: .5em;
    scroll-snap-align: center;
    height: 25rem;
}

section article ul {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: .5rem;
}

article ul > li:first-of-type {
    padding-top: 1em;
}

article h4 {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    border-bottom: 5px solid #fcdd67;
    padding-bottom: .5rem;
    padding-top: .5rem;
}

section {
    margin-bottom: .5em;
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-scroll-snap-destination: 0% 0%;
    -webkit-overflow-scrolling: touch;
    /* important for iOS */
}

body section::-webkit-scrollbar {
    display: none;
}

section h3 {
    display: none;
}

footer p {
    color: #2b4040;
    font-size: 1em;
    font-weight: 300;
}

footer ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 31.25em;
    margin: 0 auto;

}

footer ul img {
    border-radius: 50%;
    background-color: #d0c9c2;
    height: 2em;
    width: 2em;
    margin-top: 0;
}

#facebook:hover {
    background-color: #3b5998;
}

#twetter:hover {
    background-color: #00aced;
}

#instagram:hover {
    background-color: #8a3ab9;
}

#pinterest:hover {
    background-color: #c8232c;
}

#youtube:hover {
    background-color: #ff0000;
}

#tripadvaisor:hover {
    background-color: #00af87;
}

a:focus #facebook {
    background-color: #3b5998 !important;
}

a:focus #twetter {
    background-color: #00aced !important;
}

a:focus #instagram {
    background-color: #8a3ab9 !important;
}

a:focus #pinterest {
    background-color: #c8232c !important;
}

a:focus #youtube {
    background-color: #ff0000 !important;
}

a:focus #tripadvaisor {
    background-color: #00af87 !important;
}

fieldset {
    border: 0;
    width: 90.5%;
    padding: 1rem;
}

legend {
    margin-left: 1rem;
    font-size: 1.4em;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.25em;
}

input[type=checkbox] {
    visibility: visible;
}

header form:nth-of-type(2) input[type=submit] {
    visibility: visible;
    -webkit-appearance: none;
    border-radius: 0.25em;
    line-height: 2em;
    background-color: #982682;
    color: white;
    font-size: 1em;
    width: 8rem;
    margin: 0 auto;
    height: 2.5em;
    font-weight: 700;
}

header form:nth-of-type(2) input[type=submit]:focus {
    color: white;
    background-color: #701b67;
    border-color: #53144d;
}

header form:nth-of-type(2) input[type=submit]:hover {
    color: white;
    background-color: #701b67;
    border-color: #53144d;
}

input[type=range] {
    visibility: visible;
}

article header {
    padding: 0;
    margin: 0;
    position: relative;
}

article header button {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    background-image: url(../Images/favorietleeg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3em;
    height: 3rem;
    width: 3rem;
    padding: 0;
    border: 0;
}

article header button.ani {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    background-image: url(../Images/favoriet.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3em;
    height: 3rem;
    width: 3rem;
    padding: 0;
    border: 0;
    animation-name: movetwee;
    animation-duration: .5s;
}

input[type=range] {
    -webkit-appearance: none;
    width: 90%;
    margin: 0 auto;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.41875em;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #ffffff;
    border-radius: 1.5625em;
    border: 1.2px solid rgba(0, 0, 0, 0.25);
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 2.1px 2.1px 4.5px rgba(0, 0, 0, 0.46), 0px 0px 2.1px rgba(13, 13, 13, 0.46);
    border: 2.7px solid #ffffff;
    height: 1.4375em;
    width: 1.4375em;
    border-radius: .75em;
    background: #982682;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.584375em;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
}

input[type=range]::-moz-range-track {
    width: 90%;
    height: 0.41875em;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #ffffff;
    border-radius: 1.5625em;
    border: 1.2px solid rgba(0, 0, 0, 0.25);
}

input[type=range]::-moz-range-thumb {
    box-shadow: 2.1px 2.1px 4.5px rgba(0, 0, 0, 0.46), 0px 0px 2.1px rgba(13, 13, 13, 0.46);
    border: 2.7px solid #ffffff;
    height: 1.4375em;
    width: 1.4375em;
    border-radius: .75em;
    background: #982682;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 90%;
    height: 0.41875em;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #808080;
    border: 1.2px solid rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #ffffff;
    border: 1.2px solid rgba(0, 0, 0, 0.25);
    border-radius: 3.125em;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 2.1px 2.1px 4.5px rgba(0, 0, 0, 0.46), 0px 0px 2.1px rgba(13, 13, 13, 0.46);
    border: 2.7px solid #ffffff;
    height: 1.4375em;
    width: 1.4375em;
    border-radius: 12px;
    background: #982682;
    cursor: pointer;
    height: 0.41875em;
}

input[type=range]:focus::-ms-fill-lower {
    background: #ffffff;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
}

header form:nth-of-type(2) fieldset:nth-of-type(2) p {
    margin-top: 1.5em;
}

header form:nth-of-type(2) fieldset:first-of-type p:first-of-type {
    margin-top: 0;
}

header form:nth-of-type(2) fieldset:first-of-type p:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
}

header form:nth-of-type(2) fieldset:first-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
}

header form:nth-of-type(2) fieldset:first-of-type p input[type=checkbox] {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

header form:nth-of-type(2) fieldset:first-of-type p {
    cursor: pointer;
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header form:nth-of-type(2) fieldset:first-of-type p span {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    border: 1px solid #979696;
    background-color: white;
    display: block;
}

header form:nth-of-type(2) fieldset:first-of-type p input[type=checkbox]:checked ~ span {
    border: 1px solid #99258d;
    background-image: url(../Images/vierkant.svg);
}

header form:nth-of-type(2) fieldset:first-of-type p label {
    margin-left: 1.7em;
}

body > form input[type=password],
input[type=text] {
    -webkit-appearance: none;
    position: static;
    visibility: visible;
    border: 1px solid #979696;
    display: block;
    margin-top: .3125rem;
    margin-bottom: 0.9375rem;
    width: 96%;
    height: 3em;
    padding-left: 1em;
    border-radius: 0.25em;
}

body > form fieldset input[type=password]:focus {
    -webkit-appearance: none;
    border-color: #99258d;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 37, 141, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 37, 141, 0.6);
}

body > form fieldset input[type=text]:focus {
    -webkit-appearance: none;
    border-color: #99258d;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 37, 141, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 37, 141, 0.6);
}

body > form label {
    font-weight: 700;
}

body > form input[type=submit] {
    -webkit-appearance: none;
    float: right;
    position: static;
    visibility: visible;
    background-color: #982682;
    border-radius: .25em;
    color: white;
    width: 8rem;
    border: 1px solid #982682;
    height: 2.5em;
    font-size: 1em;
    margin: 0;
    font-weight: 700;
}

body > form input[type=submit]:hover {
    color: white;
    background-color: #701b67;
    border-color: #53144d;
}

body > form input[type=submit]:focus {
    color: white;
    background-color: #701b67;
    border-color: #53144d;
}

body > form {
    margin: 0 1em;
    width: 91.50%;
}

body > form fieldset {
    margin: 0;
    padding: 0;
    width: 100%;
}

body > form legend {
    margin-left: 0;
    margin-top: 2em;
}

h2 img {
    width: 2em;
    vertical-align: middle;
}

legend img {
    width: 2em;
    vertical-align: middle;
}

.verras {
    margin: 0 auto;
    margin-top: 1em;
}

.verrasmeDiv {
    width: 100%;
    margin: 2em auto;
    display: flex;
    justify-content: center;

}

body.verhaal section {
    overflow-x: hidden;
}

body.verhaal section article {
    width: 99.7%;
    max-width: 100%;
    height: 100%;
    margin: 0;
}

body.verhaal section article header {
    width: 100%;
    max-width: 100%;
    height: 60em;
    margin: 0;
    background-image: url(../Images/verhaal.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-repeat: repeat-y;
}

body.verhaal section article h4 {
    padding-top: 1em;
}

body.verhaal section article header h1 {
    font-family: 'aggressive';
    font-size: 3em;
    font-weight: 100;
    width: 6em;
    margin: 1em auto;
    color: white;
}


@media (min-width:36.25em) {
    header form:nth-of-type(2) {
        position: absolute;
        background-color: white;
        height: 59.7rem;
        top: 4.2rem;
        left: 0rem;
        width: 22.5em;
        margin-left: -24rem;
        transition: all 0.5s cubic-bezier(.38, 1.34, .72, -0.18);
        z-index: 1;
        border: 1px solid #88AFAF;
        border-left: 0;
    }

    header form:nth-of-type(2).filteren {
        position: absolute;
        background-color: white;
        height: 59.7rem;
        top: 4.2rem;
        left: 0rem;
        width: 22.5em;
        margin-left: 0rem;
        z-index: 2 !important;
        border: 1px solid #88AFAF;
        border-left: 0;
    }
    header {
        margin-left: 2.5em;
        margin-right: 2.5em;
    }
    section {
        margin-left: 2.5em;
        margin-right: 2.5em;
    }
    h2 {
        margin-left: 2.5rem
    }
    body > p {
        margin-left: 2.5em;
    }
    body > form {
        margin-left: 2.5em;
        width: 20em;
    }
    .verrasmeForm {
        margin: 0 auto;
        width: 100%;
    }
    body > h1 {
        margin-left: 2.5rem;
    }
    body main section:first-of-type img {
        height: 18.75em;
        padding: 1em;
        background-image: url(../Images/wowclub-lady-3.min.png);
        background-repeat: no-repeat;
        background-position: top;
        width: 20rem;
        background-size: 15rem;
        margin-top: 1em;
        margin-right: 2.5rem;
        padding-right: 0;
        border: 0;
    }

    body main section:first-of-type h1 {
        padding-left: 2.5rem;
        color: #2b4040;
        margin-top: 5rem;
        font-size: 3em;
        margin-bottom: .5em;
    }

    body main section:first-of-type span p {
        padding-left: 2.5rem;
        margin: 0;
        color: #2b4040;
        font-size: 1.5em;
    }
    body.verhaal section {
        overflow-x: none;
    }
    body.verhaal section article {
        width: 99.7%;
        max-width: 100%;
        height: 100%;
        margin: 0;
    }

    body.verhaal section article header {
        width: 100%;
        max-width: 100%;
        height: 60em;
        margin: 0;
        background-image: url(../Images/verhaal.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    body.verhaal section article h4 {
        padding-top: 1em;
    }
    body.verhaal section article header h1 {
        font-family: 'aggressive';
        font-size: 4em;
        font-weight: 100;
        width: 6em;
        margin: .5em auto;
        color: white;
    }
    body.verhaal section article header > div:last-of-type {
        display: flex;
        justify-content: space-between;
        width: 35em;
        position: absolute;
        left: 1em;
        right: 1em;
        margin: 0 auto;
        z-index: 1;
    }
    body.verhaal section article header > div div:first-of-type p {
        margin: 0;
        padding: 0;
        color: white;
        width: 15em;
    }
    body.verhaal section article header > div div:first-of-type p span {
        margin: .1em;
        padding: 0;
        color: white;
        display: inline;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1em;
        animation-name: voorbeeldOne;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    body.verhaal section article header > div div:last-of-type p {
        margin: 0;
        padding: 0;
        color: white;
    }
    body.verhaal section article header > div div:last-of-type p span {
        margin: .1em;
        padding: 0;
        color: white;
        display: inline;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1em;
        animation-name: voorbeeldOne;
        animation-duration: 3s;
        animation-iteration-count: infinite;

    }

    /**shape maken voor de letter k met een tekst**/
    body.verhaal section article header > div div:last-of-type p:first-of-type {
        margin-left: 6.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(2) {
        margin-left: 6em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(3) {
        margin-left: 5.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(4) {
        margin-left: 5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(5) {
        margin-left: 4.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(6) {
        margin-left: 4em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(7) {
        margin-left: 3.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(8) {
        margin-left: 3em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(9) {
        margin-left: 2.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(10) {
        margin-left: 2em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(11) {
        margin-left: 1.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(12) {
        margin-left: 1em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(13) {
        margin-left: .5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(14) {
        margin-left: 0em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(15) {
        margin-left: .5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(16) {
        margin-left: 1em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(17) {
        margin-left: 1.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(18) {
        margin-left: 2em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(19) {
        margin-left: 2.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(20) {
        margin-left: 3em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(21) {
        margin-left: 3.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(22) {
        margin-left: 4em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(23) {
        margin-left: 4.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(24) {
        margin-left: 5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(25) {
        margin-left: 5.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(26) {
        margin-left: 6em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(27) {
        margin-left: 6.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(28) {
        margin-left: 7em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(29) {
        margin-left: 7.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(30) {
        margin-left: 8em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(31) {
        margin-left: 8.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(32) {
        margin-left: 9em;
    }

    /** annimation voor de spans van kolom twee **/
    body.verhaal section article header > div div:last-of-type p:nth-of-type(7) span {
        animation-name: voorbeeldOne;
        animation-duration: 1s;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(8) span {
        animation-name: voorbeeldOne;
        animation-duration: 2s;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(13) span {
        animation-name: voorbeeldOne;
        animation-duration: 3.5s;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(14) span {
        animation-name: voorbeeldOne;
        animation-duration: 2.5s;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(15) span {
        animation-name: voorbeeldOne;
        animation-duration: 1.5s;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(20) span {
        animation-name: voorbeeldOne;
        animation-duration: 1.7s;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(26) span {
        animation-name: voorbeeldOne;
        animation-duration: 1.9s;
    }


    /** eerste kolom span annimation **/
    body.verhaal section article header > div div:first-of-type p:nth-of-type(4) span {
        animation-name: voorbeeldOne;
        animation-duration: 1.9s;
    }
    body.verhaal section article header > div div:first-of-type p:nth-of-type(9) span {
        animation-name: voorbeeldOne;
        animation-duration: 2.5s;
    }
    body.verhaal section article header > div div:first-of-type p:nth-of-type(15) span {
        animation-name: voorbeeldOne;
        animation-duration: 3.5s;
    }
    body.verhaal section article header > div div:first-of-type p:nth-of-type(21) span {
        animation-name: voorbeeldOne;
        animation-duration: 1s;
    }
    body.verhaal section article header > div div:first-of-type p:nth-of-type(23) span {
        animation-name: voorbeeldOne;
        animation-duration: 1.6s;
    }
    body.verhaal section article header > div div:first-of-type p:nth-of-type(24) span:first-of-type {
        animation-name: voorbeeldOne;
        animation-duration: 3s;
    }
    body.verhaal section article header > div div:first-of-type p:nth-of-type(24) span:last-of-type {
        animation-name: voorbeeldOne;
        animation-duration: 2s;
    }
    body.verhaal section article header > div div:first-of-type p:nth-of-type(27) span {
        animation-name: voorbeeldOne;
        animation-duration: 5s;
    }
    body.verhaal section article header > div:first-of-type {
        position: absolute;
        left: 0;
        right: 0;
        top: 40em;
        bottom: 0;
        background-image: url(../Images/lootzak.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30em;
        opacity: 0.7;
    }
}

@media (min-width:50em) {
    body {
        border: 8px solid #982682;
    }
    header nav ul li:nth-of-type(2) a img {
        width: 6.785em;
        margin-left: 2rem;
    }
    header > nav ul {
        margin-bottom: 2em;
        height: 5.5em
    }
    header form:nth-of-type(2) {
        position: absolute;
        background-color: white;
        height: 59rem;
        top: 6.7rem;
        left: 0rem;
        width: 23em;
        margin-left: -24rem;
        transition: all 0.5s cubic-bezier(.38, 1.34, .72, -0.18);
        z-index: 1;
        border: 1px solid #88AFAF;
        border-left: 0;
    }

    header form:nth-of-type(2).filteren {
        position: absolute;
        background-color: white;
        height: 59rem;
        top: 6.7rem;
        left: 0rem;
        width: 23em;
        margin-left: 0.5rem;
        z-index: 2 !important;
        border: 1px solid #88AFAF;
        border-left: 0;
    }
    header {
        margin-left: 4.375em;
        margin-right: 4.375em;
    }
    section {
        margin-left: 4.375em;
        margin-right: 4.375em;
    }
    h2 {
        margin-left: 4.375rem
    }
    body > p {
        margin-left: 4.375em;
    }
    body > form {
        margin-left: 4.375em;
        width: 20em;
    }
    .verrasmeForm {
        margin: 0 auto;
        width: 100%;
    }
    body > h1 {
        margin-left: 4.375rem;
    }
    body main section:first-of-type img {
        height: 18.75em;
        padding: 1em;
        background-image: url(../Images/wowclub-lady-3.min.png);
        background-repeat: no-repeat;
        background-position: top;
        width: 20rem;
        background-size: 15rem;
        margin-top: 1em;
        margin-right: 4.375rem;
        padding-right: 0;
        border: 0 !important;
    }

    body main section:first-of-type h1 {
        padding-left: 4.375rem;
        color: #2b4040;
        margin-top: 5rem;
        font-size: 4em;
        margin-bottom: .5em;
    }

    body main section:first-of-type span p {
        padding-left: 4.375rem;
        margin: 0;
        color: #2b4040;
        font-size: 2em
    }
    header nav ul li:first-of-type {
        margin-top: 2em;
    }

    header nav li:last-of-type {
        margin-top: 2em;

    }
    body.verhaal section {
        overflow-x: none;
    }
    body.verhaal section article {
        width: 99.8%;
        max-width: 100%;
        height: 100%;
        margin: 0;
    }

    body.verhaal section article header {
        width: 100%;
        max-width: 100%;
        height: 60em;
        margin: 0;
        background-image: url(../Images/verhaal.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    body.verhaal section article h4 {
        padding-top: 1em;
    }
    body.verhaal section article header h1 {
        font-family: 'aggressive';
        font-size: 6em;
        font-weight: 100;
        width: 6em;
        margin: .5em auto;
        color: white;
    }
    body.verhaal section article header > div:last-of-type {
        display: flex;
        justify-content: space-between;
        width: 35em;
        margin-left: 3em;
        position: absolute;
        z-index: 1;
    }
    body.verhaal section article header > div div:first-of-type p {
        margin: 0;
        padding: 0;
        color: white;
        width: 15em;
    }
    body.verhaal section article header > div div:first-of-type p span {
        margin: .1em;
        padding: 0;
        color: white;
        display: inline;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1em;
        animation-name: voorbeeldOne;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    body.verhaal section article header > div div:last-of-type p {
        margin: 0;
        padding: 0;
        color: white;
    }
    body.verhaal section article header > div div:last-of-type p span {
        margin: .1em;
        padding: 0;
        color: white;
        display: inline;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1em;
        animation-name: voorbeeldOne;
        animation-duration: 3s;
        animation-iteration-count: infinite;

    }

    /**shape maken voor de letter k met een tekst**/
    body.verhaal section article header > div div:last-of-type p:first-of-type {
        margin-left: 6.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(2) {
        margin-left: 6em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(3) {
        margin-left: 5.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(4) {
        margin-left: 5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(5) {
        margin-left: 4.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(6) {
        margin-left: 4em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(7) {
        margin-left: 3.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(8) {
        margin-left: 3em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(9) {
        margin-left: 2.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(10) {
        margin-left: 2em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(11) {
        margin-left: 1.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(12) {
        margin-left: 1em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(13) {
        margin-left: .5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(14) {
        margin-left: 0em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(15) {
        margin-left: .5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(16) {
        margin-left: 1em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(17) {
        margin-left: 1.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(18) {
        margin-left: 2em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(19) {
        margin-left: 2.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(20) {
        margin-left: 3em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(21) {
        margin-left: 3.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(22) {
        margin-left: 4em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(23) {
        margin-left: 4.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(24) {
        margin-left: 5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(25) {
        margin-left: 5.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(26) {
        margin-left: 6em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(27) {
        margin-left: 6.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(28) {
        margin-left: 7em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(29) {
        margin-left: 7.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(30) {
        margin-left: 8em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(31) {
        margin-left: 8.5em;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(32) {
        margin-left: 9em;
    }

    /** annimation voor de spans van kolom twee **/
    body.verhaal section article header > div div:last-of-type p:nth-of-type(7) span {
        animation-name: voorbeeldOne;
        animation-duration: 1s;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(8) span {
        animation-name: voorbeeldOne;
        animation-duration: 2s;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(13) span {
        animation-name: voorbeeldOne;
        animation-duration: 3.5s;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(14) span {
        animation-name: voorbeeldOne;
        animation-duration: 2.5s;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(15) span {
        animation-name: voorbeeldOne;
        animation-duration: 1.5s;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(20) span {
        animation-name: voorbeeldOne;
        animation-duration: 1.7s;
    }
    body.verhaal section article header > div div:last-of-type p:nth-of-type(26) span {
        animation-name: voorbeeldOne;
        animation-duration: 1.9s;
    }


    /** eerste kolom span annimation **/
    body.verhaal section article header > div div:first-of-type p:nth-of-type(4) span {
        animation-name: voorbeeldOne;
        animation-duration: 1.9s;
    }
    body.verhaal section article header > div div:first-of-type p:nth-of-type(9) span {
        animation-name: voorbeeldOne;
        animation-duration: 2.5s;
    }
    body.verhaal section article header > div div:first-of-type p:nth-of-type(15) span {
        animation-name: voorbeeldOne;
        animation-duration: 3.5s;
    }
    body.verhaal section article header > div div:first-of-type p:nth-of-type(21) span {
        animation-name: voorbeeldOne;
        animation-duration: 1s;
    }
    body.verhaal section article header > div div:first-of-type p:nth-of-type(23) span {
        animation-name: voorbeeldOne;
        animation-duration: 1.6s;
    }
    body.verhaal section article header > div div:first-of-type p:nth-of-type(24) span:first-of-type {
        animation-name: voorbeeldOne;
        animation-duration: 3s;
    }
    body.verhaal section article header > div div:first-of-type p:nth-of-type(24) span:last-of-type {
        animation-name: voorbeeldOne;
        animation-duration: 2s;
    }
    body.verhaal section article header > div div:first-of-type p:nth-of-type(27) span {
        animation-name: voorbeeldOne;
        animation-duration: 5s;
    }
    body.verhaal section article header > div:first-of-type {
        position: absolute;
        left: 31em;
        right: 0;
        top: 10em;
        bottom: 0;
        margin: auto;
        background-image: url(../Images/lootzak.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 0.7;
    }

}
